.footer {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: $footer-background-color;
}

.social {
  display: flex;
  gap: 1rem;
  
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    text-decoration: none;
    font-size: 3rem;
  }
}
