.footer {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(220, 144, 239, 0.697);

  .social
  .a {
    text-decoration: none;
    font-size: 3rem;
  }
}
