/* technology.scss */
.landingpage {
    display: grid;
    gap: 1.96rem 1.96rem;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 1.96rem;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.landingpage div {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px;
    border: 1px solid white;
}

.box:hover {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

.technology {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.technology .article {
    width: 60%;
}

.technology .menu {
    width: 30%;
}

.box-CSS {
    grid-column: span 1;
    grid-row: span 1;
}

.box-HTML {
    grid-column: span 2;
}

.box-JS {
    grid-column: span 2;
}

.box-PHP {
    grid-column: span 1;
}

.box-P {
    grid-column: span 3;
}

.box-GIT {
    grid-column: span 1;
}

.box-SQ {
    grid-column: span 2;
}

@media (max-width: 960px) {
    .landingpage {
        grid-template-columns: repeat(1, 1fr);
    }

    .landingpage div {
        text-align: center;
        padding: 15px;
    }
}
