/* technology.scss */
.landingpage {
  display: grid;
  gap: 1.96rem;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 1.96rem;
}

.landingpage h1 {
  grid-column: span 3;
  justify-self: center;
}

.landingpage div {
  background-color: $body-background-color;
  text-align: center;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.875);
}

.box:hover {
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.067);
}

.technology {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.technology .article {
  width: 60%;
}

.technology .menu {
  width: 30%;
}

.boxcss {
  grid-column: span 1;
  grid-row: span 1;
}

.boxhtml {
  grid-column: span 2;
}

.boxjs {
  grid-column: span 2;
}

.boxphp {
  grid-column: span 1;
}

.boxp {
  grid-column: span 3;
}

.boxgit {
  grid-column: span 1;
}

.boxsq {
  grid-column: span 2;
}

@media (max-width: 768px) {
  .landingpage h1 {
    grid-column: span 1;
    justify-self: center;
  }

  .landingpage {
    grid-template-columns: 100%;
  }

  .boxcss,
  .boxhtml,
  .boxjs,
  .boxphp,
  .boxp,
  .boxgit,
  .boxsq {
    grid-column: span 1;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .technology {
    flex-direction: column;
  }
    
  .article {
    width: 100%;
  }
}
