* {
  font-family: 'Lato',
    sans-serif;
  color: $font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pacifico', cursive;
  font-weight: 200;
  color: $font-color;
}

p {
  font-size: 1.4em;
  margin-bottom: 1.96rem;
  color: $font-color;
}
