$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #7a6ecb;
$background-color: #8aaad7;
$background-alternative-color: #0e39797d;
$main-background-color: #6996d1;
$footer-background-color: #4d0f1e;
$header-background-color: #9c6472;
