$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ff8fab;
$background-color: #ffc2d1;
$background-alternative-color: #ffb3c6;
$main-background-color: #FFE5EC;
$footer-background-color: #fb6f92;
$header-background-color: #ffb3c6;
