$font-color: #d6cbb1;
$font-alternative-color: #614c3b;
$accent-color: #855c44;
$background-color: #1e1407;
$background-alternative-color: #181410;
$body-background-color: #3d260f;
$main-background-color: #3b342a;
$footer-background-color: #655d4f;
$header-background-color: #8c6019;
